/* Green:  #2ecc71 */
#contact li a:hover {
    text-decoration: underline;
}

html {
}

body {
    background: repeat scroll;
    font-size: 2em;
    font-family: 'Roboto';
}

blockquote {
    color: #7f8c8d;
}

#general {
    padding-left: 8em;
}

#sideMenu {
    margin-left: -16.0em;
    width: 14.5em;
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: repeat scroll white;
    padding: 2em 0.5em 0 1em;
    font-size: 0.5em;
    overflow: auto;
    z-index: 3;
}

#sideMenu li {
    font-weight: bold;
    padding: 0.1em;
}

#sideMenu li a {
    font-weight: normal;
}

#sideMenuTop {
    height: 82%;
}

#sideMenuItem {
    margin-top: 2em;
}

.pure-menu.pure-menu-open {
    border: 0em none;
    background: none transparent;
}

#home {
    text-align: center;
    display: block;
    font-size: 1.5em;
    padding: 0em
}


#contact {
    margin-top: 0.5em;
    height: 12%;
    padding-left: 1.0em;
}
.contact {
    font-size: smaller; 
    list-style: none;
    margin: 0.4em 0 0.4em 0;
    padding-left: 0;
}

#main {
    /* border: red solid 2px; */
    height: 100%;
}

#mainHead {
    font-size: 0.7em;
    padding: 2.0em 3em 0.5em 3em;
    background: repeat center;
    margin: 1 auto;
    /* border: brown solid 2px; */
}

#headText {
    margin: 2em auto 0 auto;
    max-width: 44em;
}

hr {
    margin: 0px;
}

#mainContent {
    margin: 0 auto 1em;
    max-width: 52em;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    font-size: 0.6em;
    min-height:31.5em;
    /* border: green solid 2px; */
}

#mainFoot {
    padding: 0.8em;
    padding-left: 1.5em;
    font-size: 0.4em;
    color: #000;
    background: #555 repeat;
    line-height: 3em;
}

/* Custom Button for side-menu *//* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    display: none;
}

.menu-link:hover,
.menu-link:focus {
    background: #fff;
}

.menu-link span {
    position: relative;
    display: block;

}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #000;
    width: 100%;
    height: 0.1em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.3em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.3em;
}

.menu-link.active {
    /* display: none; */
}

#main.active {
}

#mask {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

#mask.active {
    opacity: 0.8;
    visibility: visible;
    background-color: #444;
}

/*
Add transition to containers so they can push in and out.
*/
#general,
#sideMenu,
.menu-link {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


@media (max-width: 90em) {

    #general {
        padding-left: 0em; /* left col width "#menu" */
    }

    #sideMenu {
        left: -8em;
    }

    .menu-link {
	position: fixed;
	top: 0.2em;
	left: 0.2em; /* "#menu width" */
	font-size: 0.6em; /* change this value to increase/decrease button size */
	z-index: 4;
	width: 1em;
	height: auto;
	padding: 1em 0.8em;
	display: block; /* show this only on small screens */
    }


    .menu-link.active {
	background: #fff;
    }

    #general.active {
	padding-left: 8em;
    }

    #sideMenu.active {
	margin-left: 8em;
	width: 14.5em;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    body {
	font-size: 3em;
    }

    #mainHead {
	padding-left: 1.2em;
    }

    #mainContent {
	padding: 0.6em;
    }

    #sideMenu.active {
	font-size: 0.8em;
	margin-left: 8em;
	width: 13.0em;
    }

    #sideMenu li {
	padding-top: 1em;
    }

    .menu-link {
	font-size: 1em;
    }

    .menu-link.active {
	left: 0em;
    }

    #sideMenuTop {
	height: 70%;
    }

}

/* Fancy Stuff */
.syntaxhighlighter {
    padding: 0.5em;
    max-width: 92%;
}

.glyph {
    margin-right: 1em;
    margin-top: 0.4em;
}

#clojure {
    font-weight: bold;
    background-color: #2ecc71;
    color: #fff;
    padding: 0.2em 0.6em 0.2em 0.6em;
}

#python {
    background-color: #0a60aa;
    color: #FFE700;
    font-weight: bold;
    padding: 0.2em 0.6em 0.2em 0.6em;
}

#java {
    background-color: #ff3434;
    color: #fff;
    padding: 0.2em 0.6em 0.2em 0.6em;
    font-weight: bold;
}

/* Color Themes
   Dark -> Light
   1: #424242 (Dark Grey)
   2: #2196f3 (Blue)
   3: #009688 (Teal)
   4: #4caf50 (Green)
   5: #eceff1 (Light Blue Grey)
*/

#title, #subtitle, .pure-menu.pure-menu-open li a:hover,  #home a:hover {
    color: #ffffff;             /* white */
}

a {
    color: #03a9f4;             /* light blue*/
}

body, #sideMenu li, #contact li a {
    color: #424242;             /* dark grey */
    text-decoration: none;
}

#contact li a:hover {
    color: #009688;             /* teal */
}

body {
    background-color:  #eceff1; /* light blue grey */
}

#mainHead, #home a:hover, #menu-link, .pure-menu.pure-menu-open li a:hover {
    background-color: #2196f3;  /*blue */
}
