/* Blog Stuff */
.blog {
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #fff;
}

.blog-meta {
    color: #4caf50;
}

.tags {
}

.tag-glyph {
    float: right;
}

.tag {
    background-color: #eceff1;
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding: 0.0em 0.2em 0.1em 0.2em;
    border: 0.1em solid #2196f3;
    color: #2196f3;
}

.blog .blog-title .blog-meta {
    font-size: 0.8em;
}

.blog .blog-title .blog-meta .tag {
    float: right;
}

/* Project Stuff */
.project {
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #fff;
    overflow: auto;
    font-size: 0.8em;
}

.project-header {
    float: left;
    max-width: 30em;
}

.project-key {
    float: right;
    max-width: 40em;
}

.project-key .project-description {
    height: 4.0em;
}

.project .meta-data {
    float: right;
    max-width: 40em;
}

.project .meta-data .tags {
    float: right;
}

