/* Color Themes
   Dark -> Light
   1: #34495e (Black)
   2: #3498db (Blue)
   3: #1abc9c (Turquois)
   4: #2ecc71 (Green)
   5: #ecf0f1 (Grey/White)

 Background: #ecf0f1 (black)
 Main: #3498db (blue)
 Italics: #F0F2EE (white)
 Bold: #A3FF9B (green)
 Code: #3EFBFF (cyan)*/

#title, #subtitle {
    color: #ecf0f1;
}

body {
    background: repeat scroll #ecf0f1;
    color: #34495e;
    font-size: 2em;
}

#general {
    padding-left: 8em;
}

#sideMenu {
    margin-left: -16.0em;
    width: 14.5em;
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: repeat scroll white;
    padding: 2em 0.5em 0 1em;
    font-size: 0.5em;
}

#sideMenu li {
    color: #34495e;
    font-weight: bold;
    padding: 0.1em;
}

#sideMenu li a {
    font-weight: normal;
}

#sideMenuTop {
    height: 80%;
}

.pure-menu.pure-menu-open {
    border: 0em none;
    background: none transparent;
}
.pure-menu.pure-menu-open li a:hover{
    color: #ecf0f1;
    background-color: #3498db;
}

#home {
    text-align: center;
    display: block;
    font-size: larger;
    margin-bottom: 1em;
}

#home a:hover {
    color: #ecf0f1;
    background-color: #3498db;
}

#contact {
    heigth: 10%;
}
.contact {
    font-size: smaller; 
}

#main {
    /* border: red solid 2px; */
}



#mainHead {
    font-size: 0.7em;
    padding: 1em;
    background: #3498db repeat center;
    padding-left: 3em;
    padding-right: 3em;
    margin: 0 auto;
    max-width: 60em;
    /* border: brown solid 2px; */
}

#headText {
    margin: 2em auto 0 auto;
    max-width: 46em;
}

hr {
    margin: 0px;
}

#mainContent {
    margin: 0 auto 1em;
    max-width: 54em;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 0.6em;
    /* border: green solid 2px; */
}

.content {
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #fff;
}

.content .content-header .meta-data {
    font-size: 0.8em;
}

.content .content-header .meta-data .tags {
    float: right;
}


/* Custom Button for side-menu *//* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    display: none;
}

.menu-link:hover,
.menu-link:focus {
    background: #fff;
}

.menu-link span {
    position: relative;
    display: block;

}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #000;
    width: 100%;
    height: 0.1em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.3em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.3em;
}

.menu-link.active {
    left: 10em;
}

@media (max-width: 90em) {

    #general {
        padding-left: 0em; /* left col width "#menu" */
    }

    #sideMenu {
        left: -8em;
    }

    .menu-link {
	position: fixed;
	top: 0.2em;
	left: 0.2em; /* "#menu width" */
	background: #3498db;
	font-size: 0.6em; /* change this value to increase/decrease button size */
	z-index: 10;
	width: 1em;
	height: auto;
	padding: 1em 0.8em;
	display: block; /* show this only on small screens */
    }


    .menu-link.active {
	background: #fff;
    }

    #general.active {
	padding-left: 8em;
    }

    #sideMenu.active {
	margin-left: 8em;
	width: 14.5em;
    }
}

@media (max-device-width: 48em) {
    body {
	font-size: 28pt;
    }

   .menu-link.active {
	left: 0em;
   }
}

/* Others */
.syntaxhighlighter {
    padding: 0.5em;
    max-width: 92%;
    font-size: 0.5em;
}